<a href="https://colab.research.google.com/github/GVVK-01/Assignment/blob/main/Air_Delay_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('/content/sample_data/DelayedFlights.csv')
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107841,344983,2008,1,28,1,1841.0,1835,2056.0,2050,EV,...,5.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
107842,344984,2008,1,29,2,1923.0,1835,2127.0,2050,EV,...,4.0,17.0,0,N,0,28.0,0.0,0.0,0.0,9.0
107843,344986,2008,1,31,4,1851.0,1835,2053.0,2050,EV,...,5.0,18.0,0,N,0,NaN,NaN,NaN,NaN,NaN
107844,344987,2008,1,3,4,1615.0,1545,1818.0,1750,EV,...,12.0,8.0,0,N,0,28.0,0.0,0.0,0.0,0.0
107845,344993,2008,1,9,3,1553.0,1545,1807.0,1750,EV,...,16.0,8.0,0,N,0,8.0,0.0,9.0,0.0,NaN

In [7]:
df = df.drop(columns = 'Unnamed: 0')

In [8]:
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107841,2008,1,28,1,1841.0,1835,2056.0,2050,EV,4885,...,5.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
107842,2008,1,29,2,1923.0,1835,2127.0,2050,EV,4885,...,4.0,17.0,0,N,0,28.0,0.0,0.0,0.0,9.0
107843,2008,1,31,4,1851.0,1835,2053.0,2050,EV,4885,...,5.0,18.0,0,N,0,NaN,NaN,NaN,NaN,NaN
107844,2008,1,3,4,1615.0,1545,1818.0,1750,EV,4885,...,12.0,8.0,0,N,0,28.0,0.0,0.0,0.0,0.0
107845,2008,1,9,3,1553.0,1545,1807.0,1750,EV,4885,...,16.0,8.0,0,N,0,8.0,0.0,9.0,0.0,NaN